* {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

a:hover {
    color: rgb(196, 196, 196);
}

body {
    background-color: rgb(254, 254, 254);
}

h1,
h5 {
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
}

p {
    font-family: 'Thasadith', sans-serif;
}

/* ---------------------------------------------------------------------- */
#navbar {
    color: #fff;
    transition: 0.5s;
    filter: invert(100%);
}


.hideUp #navbar {
    top: -400px;
}

.navchange #navbar {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: top 0.7s ease-in-out;
    filter: invert(0%);
}


#navbar:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: .6s;
    filter: invert(0%);
}

.brand h1 {
    font-size: xx-large;
}

.brand h5 {
    font-size: x-small;
    margin-top: -15px;
}

.brand h2 {
    font-size: small;
}

#undisImg {
    display: none;
}
.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
  }
@media only screen and (max-width: 500px) {
    #disImg {
        display: none;
    }

    #undisImg {
        display: block;
    }

    .carousel-item img {

        height: 600px;

    }

}

/* --------------NAVBAR----------------- */
.nav-item:hover {
    border-bottom: 10px soild rgb(58, 58, 156);
}


/* -------------------------購物車--------------------------------------- */
#menu-control {
    display: none;
}

/* --------------------關閉鈕------------------- */
.close-box .close span {
    position: absolute;
    top: 0;
    right: 0;
    border: 0.6px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    margin: 20px;
    width: 25px;
    height: 1px;
}

.close span:first-child {
    transform: translateY(0px) rotate(45deg);
}

.close span:last-child {
    transform: translateY(0px) rotate(135deg);
}

/* --------------------關閉鈕------------------- */
.menu-box .bag {
    position: fixed;
    width: 25%;
    top: 0;
    height: calc(100vh);
    bottom: 0;
    right: -100%;
    background-color: rgb(255, 255, 255);
    transition: right .5s .1s;
    overflow: auto;
    z-index: 99999999;
    border-left: 1px solid rgba(0, 0, 0, 0.151);
}

.menu-box .bag a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans TC', sans-serif;

}

#menu-control:checked~.bag {
    right: 0;
}

/* -------------------------SHOPBAG------------------------------------------------ */
.shop-items .row .shopbag-info {
    position: relative;
}

.shop-items .shopbag-info span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: .5px solid rgba(0, 0, 0, 0.144);
    background-color: rgba(0, 0, 0, 0.123);
    margin: auto;
    width: 100%;
    height: 1px;
}

.shopbag-info span:first-child {
    transform: translateY(-16px);
}

.shopbag-info span:last-child {
    transform: translateY(16px);
}
/* -------------------------商品CARD------------------------------------- */
.img-group {
    background-image: url('./assets/asset\ 19.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover .img-group {
    background: rotate(45deg);
    background-size: 180px;
    transition: .5s;
}
/* ----------------------------------------------------------------------------- */
.videogroup {
    position: relative;
}

.videogroup a {
    color: white;
}

.video {
    height: 600px;
    background-position: top;
    background-size: cover;

}

.bg-video {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------------------------------- */
.v-two {
    background-image: url('./assets/asset\ 36.jpeg');
    background-position: top;
    background-size: cover;
}

/* ----------------------------------------------------------------------------- */
.now-open {
    background-image: url('./assets/asset 85.jpg');
    background-position: top;
    background-size: cover;
}

/* ----------------------------------------------------------------------------- */

.GIFT h5 {
    font-size: 12px;
}

.GIFT h2 {
    font-size: 15px;
}